.currency-input-group {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 10px;
}

.currency-input-amount {
    border: none;
    border-right: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    width: 60%;
    
}

.currency-input-select {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    width: 40%;
}
